
/* 
	The following elements demonstrate one way to override Tapestry's Grid CSS.
	Another way is to assign a your own CSS class in Grid's class parameter. 
*/ 

img.t-sort-icon			{ vertical-align: bottom; }
div.t-data-grid			{ font-family: Arial, Helvetica, sans-serif; }
div.t-data-grid-pager a, div.t-data-grid-pager span.current	
						{ font-size: 13px; }
table.t-data-grid th	{ width: 130px; color: blue; }
table.t-data-grid th a	{ text-decoration: none; color: blue; }
table.t-data-grid tr th a 
						{ color: red; }

