<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="tapestry5-portlet Application Test Suite" annotations="1.5">
      <test name="Service Unit Tests" enabled="true">
        <packages>
            <package name="org.apache.tapestry5.internal.services"/>
        </packages>
    </test>
    <test name="Pluto Integration Tests" enabled="true">
        <parameter name="tapestry.web-app-folder" value="src/main/webapp"/>
		<parameter name="tapestry.context-path" value="/tapestry5-portlet"/>
	    <parameter name="tapestry.browser-start-command" value="googlechrome" />
	
        <packages>
            <package name="org.apache.tapestry5.portlet"/>
        </packages>
    </test>
</suite>
